.header {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 90px;
    background-color: green;
    top:0;
}

.main {   
    
    margin-left: auto;
    margin-right: auto;
}

.logo {
    margin-left: 60px;
    margin-top: 17px;
    height:60%;
}

.login {
    margin-right: 70px;
    right: 0;
    margin-top: 32px;
    position: absolute;
    height:30px;
    background-color: white;
    font-size: 15;
    
    font-style: bold;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

a {
    color: green;
    text-decoration: none;
}

a:visited
{
     color:green; 
     text-decoration:none; 
     cursor:pointer;  
}


.zipcode-section {
    margin-top: 90px;
    margin-left: 6%;
    margin-right: auto;
}

.zipcode-text {
    margin-top: 260px;
    font-size: 50px;
    font-family: Helvetica, Geneva, sans-serif;
    color:white;
    width:650px;
}

.zipcode-input {
    padding-left: 30px;
    display: inline;
    height: 50px;
    width: 600px;
    outline: none;
    font-family: Helvetica, Geneva, sans-serif;
    font-size: 18px;
    color: black;
    letter-spacing: -1px;
    
    border: none;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.zipcode-input::placeholder {
    color: lightgrey;
}

.zipcode-button {
    z-index: -1;
    position: absolute;
    display: inline;
    height: 50px;
    width: 150px;
    background-color: green;
    border: none;
    font-size: 22px;
    color: white;
    font-style: bold;
    
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

body {
    background-image: url("../images/healthy_eating.jpg");
    margin:0;
    margin-top: 90px;
    background-color:floralwhite;
}